:root {
    --bg-body: #0f172a;       /* Fundo Dark Principal */
    --bg-card: #1e293b;       /* Fundo dos Cards/Seções */
    --primary: #6366f1;       /* Roxo Indigo */
    --success: #10b981;       /* Verde */
    --danger: #f43f5e;        /* Vermelho Rosa */
    --warning: #f59e0b;       /* Amarelo Âmbar */
    --text-main: #f8fafc;     /* Texto claro */
    --text-muted: #94a3b8;    /* Texto secundário */
    --border: #334155;        /* Bordas discretas */
    --bg-input: #1e293b;      /* Fundo dos campos */
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    margin: 0;
    padding: 20px;
}